[submodule "themes/Flex"]
	path = themes/Flex
	url = https://github.com/alexandrevicenzi/Flex
[submodule "themes/Papyrus"]
	path = themes/Papyrus
	url = https://github.com/aleylara/Papyrus
[submodule "themes/Pneumatic"]
	path = themes/Pneumatic
	url = https://github.com/iKevinY/pneumatic
